.business-sectors {
    min-height: 899px;
    padding-top: 80px;
    padding-bottom: 80px;
    background: url(../img/backgrounds/epertsolution.jpg) center (center/cover) no-repeat;
    color: $txt-light-color;
}