.button {
    width: 241px;
    height: 60px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.07);
    background-color: $accent-color;
    border: none;
    border-radius: 5px;
    color: $txt-light-color;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
    cursor: pointer;
    &:hover {
        box-shadow: 0 0 7px rgb(0, 0, 0);
        background-color: #00c0f0c5;
    }

    &_center {
        @media (max-width: 800px) {
            display: block;
            @include push-center-auto;
        }
    }

    &_mt {
        margin-top: 30px;
    }

    &_submit {
        display: block;
        text-align: center;
        margin: 20px auto 0 auto;

    }
}