.footer {
    
    padding-top: 50px;
    min-height: 500px;
    background-color: #0082a1;
    color: $txt-light-color;
    font-size: 14px;
    font-weight: 300;
    line-height: 19px;

    @media (max-width: 600px) {
        padding-top: 30px;
    }

    &__wrapper {
        display: flex;
        justify-content: flex-start;
        @media (max-width: 850px) {
            flex-wrap: wrap;
            justify-content: space-between;
        }
        @media (max-width: 600px) {
            flex-direction: column;
            justify-content: flex-start;
        }
    }

    &__company {
        flex-basis: 30%;

        @media (max-width: 850px) {
            margin-top: 40px;
            order: 4;
            flex-basis: 100%;
        }
    }

    &__logo {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    &__menu {
        width: fit-content;
        margin: 0;
        padding-left: 0;
        list-style: none;
        margin-left: 90px;
        
        @media (max-width: 950px) {
            margin-left: 0;
        }

        @media (max-width: 600px) {
            margin-top: 20px;
        }
    }
    
    &__menu-title {
        font-size: 16px;
        font-weight: 700;
        line-height: 26px;
    }
    
    &__menu-item {
        line-height: 26px;
    }
    &__menu-link {
        color: $txt-light-color;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }

    }

    &__copywrite {
        margin-top: 45px;
        height: 90px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-top: 1px solid $txt-light-color;

    }
}