.heading3 {
    margin: 0;
    color: $txt-light-color;
    font-size: 30px;
    font-weight: 700;
    text-align: center;

    @media (max-width: 700px) {
        font-size: 24px;
    }

    &_black {
        color: $txt-dark-alt-color;
    }

    &_mt {
        margin-top: 74px;
    }
}