.start {
    min-height: 690px;
    padding-top: 80px;
    padding-bottom: 80px;
    
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__image-box {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 302px;
        height: 302px;

        @media (max-width: 400px) {
            width: 280px;
            height: 280px;
        }
    }

    &__brd {
        position: absolute;
        width: 10%;
        height: 10%;
    }

    &__bt { 
        border-top: 1px solid $accent-color; 
        top: 0; 
    }

    &__bl { 
        border-left: 1px solid $accent-color; 
        left: 0; 
    }

    &__br { border-right: 1px solid $accent-color; 
        right: 0; 
    }

    &__bb { border-bottom: 1px solid $accent-color; 
        bottom: 0; 
    }

}