.arrow {
    @include push-center-auto;
    margin-top: 70px;
    height: 2px; 
    width: 170px; 
    position: relative;
    animation: spin 2s infinite linear;
    &_second {
        margin-top: 20px;
    }
    
    &:before, 
    &:after {
        content: "";
        height: 100%; 
        width: 50%;
        position: absolute; 
        top: 0;
        background: #ececec;
    }
    
    &:before {
        left: 0;
        transform: skew(0deg, 30deg);
    }

    &:after {
        right: 0;
        transform: skew(0deg, -30deg);
    }
}

.slider {
    &__tabs {
        display: flex;
        justify-content: space-between;
    }
}